
<%- include("../partials/header") %>
   
      <!-- Title bar -->
      <div class = "notification is-link">
        <div class = "level">
        <div class = "level-left">
            <div class = "level-item">
                <h1 class="subtitle is-5"><b>Projects</b></h1>
            </div>
        </div>
        </div>
    </div>


    <!-- Project view -->
    <div class="columns project-view">
        <div class="column  is-three-quarters">
            <div class="card title-card">
                <header class="card-header">
                    <p class="card-header-title"><%= project.title %></p>
                </header>
                <div class="card-content kanban-backlog">
                    <div class="columns">
                        <a href="/backlog" class="column backlog">
                            <div class="column backlog">
                                    <i class="fas fa-th-list fa-10x"></i>
                                    <p>Backlog</p>
                            </div>
                        </a>
                        <a href="/projects/<%= project._id %>/board/<%= project.board.id %>" class="column kanban">
                            <div class="column kanban">
                                    <i class="fas fa-table fa-10x"></i>
                                    <p>Kanban Board</p>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="column">
            <div class="card project-info">
                <header class="card-header">
                    <p class="card-header-title">Details</p>
                </header>
                <div class="card-content details">

                    <table class="table details">
                        <tbody>
                            <tr>
                                <td>
                                    <i class="fas fa-file-alt"></i>
                                </td>
                                <td>
                                    <%= project.description %></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fas fa-users"></i>
                                </td>
                                <td>
                                    <%= project.members.length + 1 %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="dropdown" id="memberList">
                                        <div class="dropdown-trigger">
                                            <button class="button" id="memberListButton" aria-haspopup="true" aria-controls="dropdown-menu3">
                                                <span>See Members List</span>
                                                <span class="icon is-small">
                                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                                            <div class="dropdown-content">
                                                <p class="dropdown-item"><%= owner.username %></p>
                                
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    
    

