<%- include("./partials/header") %>

      <div>
        <section class="section is-title-bar is-small">
          <div class = "level">
            <div class="level-left">
              <div class="level-item ">
                <h1 class="subtitle is-5">Project / <strong>Backlog</strong></h1>
              </div>
            </div>
          </div>

        </section>

        <section class =  "section is-main-section is-small">
          <div class = "notification is-link">
            <div class = "level">
              <div class = "level-left">
                  <div class = "level-item">
                    <b>Backlog</b>
                  </div>
              </div>
            </div>
          </div>

          <div class="card has-table">
            <header class = "card-header">
              <p class="card-header-title">
                Tickets
              </p>
            </header>

            <div class = "card-content">
        

              <table class = "table is-fullwidth is-striped is-narrow">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Points</th>
                    <th>Category</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>

                  <% tickets.forEach(tickets => { %>
                    
                    <tr>
                      <td><a href="/ticket/<%=tickets._id%>"><%= tickets.title%></a></td>
                      <td><%= tickets.description %></td>
                      <td><span class="tag is-rounded story-points"> <%= tickets.points %></td>
                      <td><span class="tag is-rounded is-info category"><%= tickets.category %></td>
                      <td>
                        <a class="button is-link is-small" href="/ticket/<%=tickets._id%>/editTicket"><span class="icon is-small"><i class="fa fa-edit"></i></span><span>Edit</span></a>
                      </td>
                    </tr>
        
                  <% }); %> 
                  
                </tbody>
              </table>
          </div>

        </div>
        <div><a href="/ticket/newTicket"><button class ="button is-link">Add Ticket</button</a></div>
      </div>
        
        </section>
</body>
</html>