<%- include("./partials/header") %>

    <div class = "notification is-link">
        <div class = "level">
        <div class = "level-left">
            <div class = "level-item">
                <h1 class="subtitle is-5"><a href="/projects/<%= projectID %>/">Projects</a> / <b>Kanban Board</b></h1>
            </div>
        </div>
        </div>
    </div>
    <!-- To Do, In Progress, Review, Testing, Done -->

    <!-- The kanban-board itself -->
    <div class="columns kanban-board">

        <!-- Individual lanes -->

        <!-- To Do -->
        <div class="column card lane">
            <header class="card-header lane-header">
                <p class="card-header-title">
                    To Do
                </p>
            </header>

            <!-- Individual tickets -->
            
            <% lane1.forEach( ticket => { %>
                <a href="/projects/<%= projectID %>/backlog/<%=boardID%>/ticket/<%=ticket._id%>"><div class="card-content card ticket">
                    <div class="content ticket-title">
                        <p class="ticket-title">
                            <% if (ticket.title.length > 95) { %>
                                <%= ticket.title.substring(0, 92) + '...' %>
                            <% } else { %>
                                <%= ticket.title %>
                            <% } %>
                        </p>

                        <% if (ticket.category || ticket.points || ticket.assignedUser) { %>
                            <div class="columns ticket-footer">
                                <div class="column">
                                    <div class="tags has-addons">
                                        <% if (ticket.category) { %>
                                        <span class="tag is-rounded is-link category">Category</span>
                                        <% } %>

                                        <% if (ticket.points) { %>
                                            <span class="tag is-rounded story-points"> <%= ticket.points %> </span>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="column is-one-third">
                                    <% if (ticket.assignedUser) { %>
                                        <span class="tag is-rounded is-link is-light ticket-user"><%= ticket.assignedUser.charAt(0) %></span>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div></a>
            <% }); %>

        </div>

        <!-- In Progress -->
        <div class="column card lane">
            <header class="card-header lane-header ">
                <p class="card-header-title">
                    In Progress
                </p>
            </header>

            <!-- Individual tickets -->
            <% lane2.forEach( ticket => { %>
                <a href="/projects/<%= projectID %>/backlog/<%=boardID%>/ticket/<%=ticket._id%>"><div class="card-content card ticket">
                    <div class="content ticket-title">
                        <p class="ticket-title">
                            <% if (ticket.title.length > 95) { %>
                                <%= ticket.title.substring(0, 92) + '...' %>
                            <% } else { %>
                                <%= ticket.title %>
                            <% } %>
                        </p>

                        <% if (ticket.category || ticket.points || ticket.assignedUser) { %>
                            <div class="columns ticket-footer">
                                <div class="column">
                                    <div class="tags has-addons">
                                        <% if (ticket.category) { %>
                                        <span class="tag is-rounded is-link category">Category</span>
                                        <% } %>

                                        <% if (ticket.points) { %>
                                            <span class="tag is-rounded story-points"> <%= ticket.points %> </span>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="column is-one-third">
                                    <% if (ticket.assignedUser) { %>
                                        <span class="tag is-rounded is-link is-light ticket-user"><%= ticket.assignedUser.charAt(0) %></span>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div></a>
            <% }); %>

        </div>

        <!-- Review -->
        <div class="column card lane">
            <header class="card-header lane-header">
                <p class="card-header-title">
                    Review
                </p>
            </header>

            <!-- Individual tickets -->
            <% lane3.forEach( ticket => { %>
                <a href="/projects/<%= projectID %>/backlog/<%=boardID%>/ticket/<%=ticket._id%>"><div class="card-content card ticket">
                    <div class="content ticket-title">
                        <p class="ticket-title">
                            <% if (ticket.title.length > 95) { %>
                                <%= ticket.title.substring(0, 92) + '...' %>
                            <% } else { %>
                                <%= ticket.title %>
                            <% } %>
                        </p>

                        <% if (ticket.category || ticket.points || ticket.assignedUser) { %>
                            <div class="columns ticket-footer">
                                <div class="column">
                                    <div class="tags has-addons">
                                        <% if (ticket.category) { %>
                                        <span class="tag is-rounded is-link category">Category</span>
                                        <% } %>

                                        <% if (ticket.points) { %>
                                            <span class="tag is-rounded story-points"> <%= ticket.points %> </span>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="column is-one-third">
                                    <% if (ticket.assignedUser) { %>
                                        <span class="tag is-rounded is-link is-light ticket-user"><%= ticket.assignedUser.charAt(0) %></span>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div></a>
            <% }); %>

        </div>

        <!-- Testing -->
        <div class="column card lane">
            <header class="card-header lane-header">
                <p class="card-header-title">
                    Testing
                </p>
            </header>

            <!-- Individual tickets -->
            <% lane4.forEach( ticket => { %>
                <a href="/projects/<%= projectID %>/backlog/<%=boardID%>/ticket/<%=ticket._id%>"><div class="card-content card ticket">
                    <div class="content ticket-title">
                        <p class="ticket-title">
                            <% if (ticket.title.length > 95) { %>
                                <%= ticket.title.substring(0, 92) + '...' %>
                            <% } else { %>
                                <%= ticket.title %>
                            <% } %>
                        </p>

                        <% if (ticket.category || ticket.points || ticket.assignedUser) { %>
                            <div class="columns ticket-footer">
                                <div class="column">
                                    <div class="tags has-addons">
                                        <% if (ticket.category) { %>
                                        <span class="tag is-rounded is-link category">Category</span>
                                        <% } %>

                                        <% if (ticket.points) { %>
                                            <span class="tag is-rounded story-points"> <%= ticket.points %> </span>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="column is-one-third">
                                    <% if (ticket.assignedUser) { %>
                                        <span class="tag is-rounded is-link is-light ticket-user"><%= ticket.assignedUser.charAt(0) %></span>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div></a>
            <% }); %>

        </div>

        <!-- Done -->
        <div class="column card lane">
            <header class="card-header lane-header">
                <p class="card-header-title">
                    Done
                </p>
            </header>

            <!-- Individual tickets -->
            <% lane5.forEach( ticket => { %>
                <a href="/projects/<%= projectID %>/backlog/<%=boardID%>/ticket/<%=ticket._id%>"><div class="card-content card ticket">
                    <div class="content ticket-title">
                        <p class="ticket-title">
                            <% if (ticket.title.length > 95) { %>
                                <%= ticket.title.substring(0, 92) + '...' %>
                            <% } else { %>
                                <%= ticket.title %>
                            <% } %>
                        </p>

                        <% if (ticket.category || ticket.points || ticket.assignedUser) { %>
                            <div class="columns ticket-footer">
                                <div class="column">
                                    <div class="tags has-addons">
                                        <% if (ticket.category) { %>
                                        <span class="tag is-rounded is-link category">Category</span>
                                        <% } %>

                                        <% if (ticket.points) { %>
                                            <span class="tag is-rounded story-points"> <%= ticket.points %> </span>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="column is-one-third">
                                    <% if (ticket.assignedUser) { %>
                                        <span class="tag is-rounded is-link is-light ticket-user"><%= ticket.assignedUser.charAt(0) %></span>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div></a>
            <% }); %>


        </div>



    </div>


</body>

</html>