<%- include("../partials/header") %>

    <h1>Ticket Information</h1>
    <ul>
        <li><%=ticket.title%></li>
        <li><%=ticket.description%></li>
        <li><%=ticket.points%></li>
        <li><%=ticket.category%></li>

    </ul>
    <form action="/ticket/<%=ticket._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>